p.nav_std {
    /*barra nav in alto singoli comonenti: home-refresh-contatti*/
    color: rgb(224, 21, 21);
    border: solid black 2px;
    background-color: rgb(243, 197, 197);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    border-radius: 10px;
}

#std_nav {
    /*barra nav in alto: home-refresh-contatti*/
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 197, 197);
}

h1 {
    color: darkred;
    text-align: center;
}

h2 {
    color: darkred;
    margin: 20px;
    text-decoration: underline;
}

.block1 {
    /*testo: mi chiamo Lorenzo e ho 27 anni + animale totem*/
    font-family: verdana;
    margin: 50px;
}

h6 {
    /*animale totem*/
    text-align: center;
    color: darkred;
}

footer {
    /*copyright Lorenzo*/
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10.5px;
    text-align: end;

}

#block5 {
    /*allineamento immagini: decoro-panda-decoro*/
    text-align: center;
}

#logoo {
    /*logo refresh academy in alto*/
    text-align: center;

}

#contatti {
    /*info contatti in fondo*/
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

#week {
    /* std_nav (home-refresh-contatti) + h1 (week inizio pagina)*/
    border: solid rgb(197, 134, 134) 1px;
    background-color: rgb(197, 134, 134);
}

#std1 {
    /*link: approfondimento panda + animale totem*/
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
    margin-top: 40px;

}

#refresh_website {
    /*link OFFICIAL WEBSITE*/
    text-align: center;
    margin: 10px;
    border: 10px;
    padding: 10px;
}

button.torna-su {
    /* edit bottone torna_su */
    padding: 10px 20px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 192, 192);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#button {
    text-align: center;
}

button.torna-su:hover {
    /*rende dinamico il bottone quando appoggi il cursore*/
    background-color: rgb(197, 134, 134);
    transform: scale(1.1);

}



button.week-button {
    /*bottone per selezionare le week*/
    padding: 5px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-family: fantasy;
    color: black;
    background-color: lightsalmon;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.week-button:hover {
    /*rende dinamico il bottone quando appoggi il cursore*/
    background-color: rgb(197, 134, 134);
    transform: scale(1.1);
}

#weekly_line {
    /*allinea le colonne da 5 delle week*/
    border: solid black 1px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 175, 175);
    border-radius: 20px;
}

.body_week { display: flex;
            display:fixed;
            justify-content: space-around;
            margin: 50px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            border: solid black 1px;
            padding: 20px;
            border-radius: 20px;
            background-color:rgb(243, 197, 197) ;
}


